* {
	margin: 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Playfair Display';
	src: url(../fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
	font-family: 'Lato';
	src: url(../fonts/Lato-Light.ttf);
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #333333;
}

/* ---------------- GLOBAL ---------------- */

a {
	text-decoration: none;
	color: inherit;
}

p {
	letter-spacing: .05em;
	font-size: calc(11px + .4vw);
}

.shadow {
	width: 90vw;
	opacity: .7;
}

.back-to-top {
	position: fixed;
	bottom: 5px;
	right: 0;
	margin: 10px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 38px;
	height: 38px;
	border: 1.5px dotted black;
	border-radius: 50px;
	z-index: 9999999;
	text-decoration: none;
}

h1,
header {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 3em;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
}

.sub-heading {
	font-size: .95rem;
	letter-spacing: .05em;
	border: 1px dashed #b9b9b9;
	border-radius: 3px;
	width: 50vw;
	margin: 1em auto;
	padding: 15px 0;
}

.sub-menu > a {
	margin: .5rem;
}

.sub-menu > a:hover {
	color: rgb(86, 73, 252);
}

.bar {
	display: inline;
	color: #b9b9b9
}

main,
.main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 80%;
	margin: 0 auto;
	grid-gap: 8rem;
}

.product-name {
	font-size: calc(10px + .5vw);
	letter-spacing: .2px;
	padding-top: 10px;
}

.margin-bottom-3 {
	margin-bottom: -3em;
}


/*  ---------------- GLOBAL NAV MENU ----------------  */


nav {
	position: relative;
	list-style: none;
	display: flex;
	width: 75vw;
	max-width: 700px;
	height: 85px;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	background: #fff;
	z-index: 10;
}

.hover-item {
	position: relative;
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.hover-item:hover .dropdown {
	visibility: visible;
	opacity: 1;
}

.dropdown {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	min-width: 175px;
	top: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.15);
	transition: all .1s linear;
}

.sub-menu-item {
	display: block;
	padding: 17px 40px;
	border-bottom: 1px dashed #d8d8d8;
	text-align: left;
}

.sub-menu-item:last-of-type {
	border-bottom: none;
}

.sub-menu-item:hover {
	color: rgb(86, 73, 252);
}

/* ---------------- INDEX PAGE ---------------- */


.index-color {
	background-image: linear-gradient(0deg, rgb(85, 217, 233), rgb(86, 73, 252));
	width: 100vw;
	height: 100vh;
}

.index-page {
	background-color: #fff;
	width: 100vw;
	height: 100vh;
	transform: scale(.5);
	opacity: 0;
}


.headline {
	position: relative;
	top: 3vh;
}

.tag {
	position: relative;
	color: grey;
	text-transform: uppercase;
	letter-spacing: .2rem;
	font-size: .8rem;
	text-align: center;
	top: 4vh;
}

h1 {
	letter-spacing: -.08rem;
	text-align: center;
	font-size: 10vh;
}

.album-img {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	height: 60vh;
	z-index: 2;
}

.border {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: calc(100vw - 80px);
	height: calc(100vh - 80px);
	border: 10px solid black;
	z-index: 1;
}

/* ---------------- CARDS ---------------- */


.large-view {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: calc(100vw - 20vw);
	/*height: calc(100vh - 10vh);*/
	height: auto;
	border: 10px solid black;
	background: #fff;
	z-index: 100;
	box-shadow: 15px 20px 50px -20px rgb(34 34 34 / 70%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.close {
	position: absolute;
	top: 15px;
	right: 15px;
	font-family: sans-serif;
	font-weight: bold;
	border: 5px solid black;
	border-radius: 50%;
	padding: 7px 10px 5px 10px;
	cursor: pointer;
	transition: all 150ms linear;
}

.close:hover {
	background-image: linear-gradient(0deg, rgb(85, 217, 233), rgb(86, 73, 252));
}

.large-image {
	background: #fff;
	margin-top: 10px;
}

.large-image > img {
	max-width: 600px;
	/*margin-bottom: -20px;*/
}

.thumbnail {
	width: 100px;
	cursor: pointer;
	padding-bottom: 20px;
}

.horizontal {
	margin-bottom: -21%;
}

.vertical {
	margin-bottom: -.7em;
}

.cards {
	width: 100%;
	max-width: 600px;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-row-gap: 8rem;
	grid-column-gap: 2rem;
	width: 80%;
	margin: 0 auto;
}

.previous-years {
	height: 150px;
	border-top: 1.5px dotted black;
	border-bottom: 1.5px dotted black;
	padding-top: 40px;
	margin: 4em 0;
}


/* ---------------- ALBUMS & ALBUM PAGES ---------------- */


.album-page-and-text {
	display: flex;
	justify-content: center;
	align-items: center;
}

.album-pages {
	width: 100%;
	max-width: 958px;
	margin-left: -2rem;
}

.albums {
	width: 100%;
	max-width: 600px;
	margin-bottom: -1rem;
}

.rotated-spread-text {
	font-family: 'Lato', sans-serif;
	color: #afafaf;
	transform: rotate(-90deg);
	margin-left: -3rem;
}


/* ---------------- COLLAGES ---------------- */

.collages-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 80%;
	margin: 0 auto;
	grid-gap: 4rem;
}

.h-24x36-collage {
	margin-bottom: -1.5em;
}

.h-10x20-collage {
	margin-bottom: -3em;
}

.sq-collage {
	margin-bottom: -.5em;
}

/* ---------------- FOOTER ---------------- */

footer {
	height: 100px;
}


/* ---------------- UTILITY ---------------- */

.spacer {
	height: 5em;
}

.spacer-small {
	height: 1em;
}

.padding-top-4em {
	padding-top: 4em;
}

.margin-top-xl {
	margin-top: 7rem;
}

.mobile-break {
	display: none;
}

.fixed-nav {
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 1000;
}

.bold {
	font-weight: 700;
}

/* ---------------- MEDIA ---------------- */

@media screen and (max-width: 1050px) {
	
	.headline {
		position: relative;
		top: 2vh;
	}

	h1 {
		margin-top: 20px;
	}
}

@media screen and (max-width: 799px) {

	.grid-container {
		grid-template-columns: 1fr 1fr;
	}

	.banner {
		top: 52%;
	}

	.banner-img {
		margin: 0 auto -5vw auto;
		width: 400px;
	}
	
}

@media screen and (max-width: 415px) {
	
	nav {
		display: none;
	}

	.album-img {
		height: 40vh;
	}

	.grid-container {
		grid-template-columns: 1fr;
	}

	.banner-img {
		width: 275px;
		margin: 30px auto 0 auto;
	}

	.tagline {
		margin-top: 20px;
		line-height: 2.3rem;
	}

	.mobile-break {
		display: block;
	}
}
