@font-face {
	font-family: 'Notera';
	src: url('../Photograph Signature.ttf');
}

@font-face {
	font-family: 'Playfair';
	src: url('../PlayfairDisplay-Regular.ttf');
}

@font-face {
	font-family: 'Lato';
	src: url('../Lato-Light.ttf');
}

* {
	margin: 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

/* ---------------- UTILITY ---------------- */

.spacer {
	height: 5em;
}

.spacer-small {
	height: 1em;
}

.padding-top-4em {
	padding-top: 4em;
}

.mobile-break {
	display: none;
}

.fixed-nav {
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 1000;
}

.bold {
	font-weight: 700;
}

.larger-text {
	font-size: 24px;
}


/* ---------------- GLOBAL ---------------- */

a {
	text-decoration: none;
	color: inherit;
}

p {
	font-family: 'Lato', sans-serif;
	color: #333333;
	letter-spacing: .05em;
	font-size: calc(11px + .4vw);
}

.shadow {
	width: 90vw;
	opacity: .7;
}

.back-to-top {
	position: fixed;
	bottom: 5px;
	right: 0;
	margin: 10px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 38px;
	height: 38px;
	border: 1.5px dotted black;
	border-radius: 50px;
	z-index: 9999999;
	text-decoration: none;
}

header,
.product-name {
	font-family: 'Playfair', serif;
	color: #333333;
	font-size: 3em;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
}

.hide {
	display: none;
}

/*  ---------------- GLOBAL NAV MENU ----------------  */


nav {
	position: relative;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	list-style: none;
	display: flex;
	width: 75vw;
	max-width: 700px;
	height: 85px;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	background: #fff;
	z-index: 10;
}

.hover-item {
	position: relative;
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.dropdown {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	min-width: 175px;
	top: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.15);
	transition: all .1s linear;
}

.sub-menu-item {
	display: block;
	padding: 17px 40px;
	border-bottom: 1px dashed #d8d8d8;
	text-align: left;
}

.sub-menu-item:last-of-type {
	border-bottom: none;
}

.hover-item:hover .dropdown {
	visibility: visible;
	opacity: 1;
}

/* ---------------- INDEX PAGE ---------------- */


.index-color {
	background-image: linear-gradient(0deg, rgb(85, 217, 233), rgb(86, 73, 252));
	width: 100vw;
	height: 100vh;
}

.index-page {
	background-color: #fff;
	width: 100vw;
	height: 100vh;
	transform: scale(.5);
	opacity: 0;
}


.headline {
	position: relative;
	top: 3vh;
}

.tag {
	position: relative;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: grey;
	text-transform: uppercase;
	letter-spacing: .2rem;
	font-size: .8rem;
	text-align: center;
	top: 4vh;
}

h1 {
	font-family: 'Playfair', serif;
	font-weight: 400;
	letter-spacing: -.08rem;
	text-align: center;
	font-size: 10vh;
}

.album-img {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	height: 60vh;
	z-index: 2;
}

.border {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: calc(100vw - 80px);
	height: calc(100vh - 80px);
	border: 10px solid black;
	z-index: 1;
}

@media screen and (max-width: 400px) {
	nav {
		display: none;
	}

	.album-img {
		height: 40vh;
	}
}


/* ----------------SUB HEADINGS - WILL CHANGE ---------------- */

.card-only-collection {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	background-image: url(../images/paper.jpg);
	height: 170px;
	font-family: Notera, 'Lato', sans-serif;
	color: #333333;
	margin-top: -.1em;
	font-size: 4em;
}

.sub-heading {
	font-family: 'Lato', sans-serif;
	color: #333333;
	font-size: 14px;
	letter-spacing: .05em;
	border: 1px dotted black;
	width: 50vw;
	margin: 4em auto -4em auto;
	padding: 15px 0;
}

/* ---------------- CARDS ---------------- */


.large-view {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: calc(100vw - 20vw);
	height: calc(100vh - 10vh);
	border: 10px solid black;
	background: #fff;
	z-index: 100;
	box-shadow: 15px 20px 50px -20px rgb(34 34 34 / 70%);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.product-name {
	font-size: 2rem;
	text-align: center;
	width: 100%;
}

.close {
	position: absolute;
	top: 15px;
	right: 15px;
	font-family: sans-serif;
	font-weight: bold;
	border: 5px solid black;
	border-radius: 50%;
	padding: 7px 10px 5px 10px;
	cursor: pointer;
	transition: all 150ms linear;
}

.close:hover {
	background-image: linear-gradient(0deg, rgb(85, 217, 233), rgb(86, 73, 252));
}

.large-image {
	background: #fff;
	margin-top: 10px;
}

.large-image > img {
	max-width: 600px;
}

.horizontal {
	margin-bottom: -21%;
}

.vertical {
	margin-bottom: -.7em;
}

.cards {
	width: 100%;
	max-width: 600px;
}

/*
main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 85%;
	margin: -1em auto 0 auto;
	padding: 0 3%;
}
*/

.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-row-gap: 8rem;
	grid-column-gap: 2rem;
/*	If you change the grid back to a row of 2, remove the media queries too*/
	width: 80%;
	margin: 0 auto;
}


.script {
	font-family: 'Lato', sans-serif;
	font-size: calc(10px + .5vw);
	color: #333;
	letter-spacing: .2px;
	padding-top: 10px;
}

.previous-years {
	height: 150px;
	border-top: 1.5px dotted black;
	border-bottom: 1.5px dotted black;
	padding-top: 40px;
	margin: 4em 0;
}

.thank-you {
	display: block;
	width: 100%;
}

.ty {
	margin-bottom: -8%;
	width: 100%;
	max-width: 1024px;
}

.dotted-divider {
	position: relative;
	border-bottom: 1px dotted black;
	width: 80%;
	margin: 8% auto -3% auto;
	z-index: 9;
}

.add-grid-gap {
	grid-column-gap: 50px;
}

/* ---------------- ALBUMS & ALBUM PAGES ---------------- */

.album-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	background-image: url(../images/paper.jpg);
	height: 175px;
	font-size: 3.4em;
}

.back-button {
	position: fixed;
	top: 40px;
	left: -3px;
	font-family: 'Lato', sans-serif;
	/*font-weight: bold;*/
	font-size: 14px;
	height: 40px;
	width: 85px;
	border: 1px dotted black;
	background-color: rgb(255, 255, 255, .5);
	cursor: pointer;
}

.album-page-and-text {
	display: flex;
	justify-content: center;
	align-items: center;
}

.album-pages {
	width: 100%;
	max-width: 958px;
	margin-left: -3em;
}

.albums {
	padding: 6em 1.5em 0 1.5em;
	width: 100%;
	max-width: 600px;
	margin-bottom: -1em;
}

.rotated-spread-text {
	font-family: 'Lato', sans-serif;
	color: grey;
	opacity: .6;
	transform: rotate(-90deg);
}


/* ---------------- COLLAGES ---------------- */

.collages-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 85%;
	margin: -1em auto 0 auto;
	padding: 0 3%;
}

.h-24x36-collage {
	margin-bottom: -3em;
}

.h-10x20-collage {
	margin-bottom: -4em;
}

.sq-collage {
	margin-bottom: -1.5em;
}

/* ---------------- FOOTER ---------------- */

footer {
	height: 100px;
}

/* ---------------- MEDIA ---------------- */


@media screen and (max-width: 799px) {

	.grid-container {
		grid-template-columns: 1fr 1fr;
	}

	.banner {
		top: 52%;
	}

	.banner-img {
		margin: 0 auto -5vw auto;
		width: 400px;
		;
	}
}

@media screen and (max-width: 415px) {

	.grid-container {
		grid-template-columns: 1fr;
	}

	.banner-img {
		width: 275px;
		margin: 30px auto 0 auto;
	}

	.tagline {
		margin-top: 20px;
		line-height: 2.3rem;
	}

	.mobile-break {
		display: block;
	}
}